* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

.todo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  background: #ede4dd;
  background: linear-gradient(
    129deg,
    rgba(237, 228, 221, 1) 0%,
    rgba(255, 247, 236, 1) 50%,
    rgba(227, 222, 216, 1) 100%
  );
}

.todo .todo_text {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0px;
}

.todo .todo_text .text_box {
  width: 100%;
  background-color: white;
  height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.todo .todo_text .text_box span {
  font-size: 20px;
}
.todo .todo_text .text_box .count {
  font-weight: 700;
  font-size: 23px;
}

.todo .todo_text .text_box .uncom {
  color: rgb(186, 189, 0);
}

.todo .todo_text .text_box .com {
  color: rgb(82, 136, 0);
}

.todo .input_todo {
  width: 100%;
  max-width: 900px;
  background-color: white;
  height: 100px;
  border-radius: 20px;
  display: flex;
  padding: 30px;
  gap: 20px;
}

.todo .input_todo input {
  flex: 1;
  font-size: 20px;
  outline: none;
  border: none;
}

.todo .input_todo button {
  width: 100px;
  font-size: 20px;
  border-radius: 20px;
  background: rgb(199, 218, 152);
  color: white;
  font-weight: 600;
  border: 1px solid rgb(141, 141, 141);
  cursor: pointer;
}
.todo .input_todo button.pc_btn {
  display: block;
}

.todo .input_todo button.mobile_btn {
  font-size: 25px;

  display: none;
}

.todo .input_todo button:hover {
  opacity: 0.8;
}

.todo .filter {
  margin: 20px 0px;
  width: 100%;
  max-width: 900px;
  background-color: white;
  height: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.todo .filter button {
  height: 40px;
}
.todo .filter button:hover {
  opacity: 0.7;
}

.todo .filter .filter_btn {
  display: flex;
  gap: 30px;
}
.todo .filter .filter_btn button {
  width: 80px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  border: 1px solid rgb(180, 180, 180);
}

.todo .filter .filter_btn button.active {
  background-color: black;
  color: white;
}

.todo .filter .total_btn {
  display: flex;
  gap: 30px;
}

.todo .filter .total_btn button {
  width: 80px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.todo .filter .total_btn .complete_all {
  border: 1px solid rgb(197, 221, 135);
  background-color: rgb(232, 248, 193);
  color: rgb(52, 87, 0);
}

.todo .filter .total_btn .delete_all {
  border: none;
  border: 1px solid rgb(221, 135, 135);
  background-color: rgb(255, 234, 234);
  color: rgb(97, 7, 7);
}

.todo .todo_list {
  width: 100%;
  max-width: 900px;
  background-color: white;
  min-height: 90px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 20px;
}
.todo .todo_list .empty_item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 22px;
}

.todo .todo_list .todo_item {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: space-between;
}
.todo .todo_list .edit_item {
  width: 100%;
}

.todo .todo_list .edit_item input {
  margin-left: 42px;
  font-size: 21px;
  width: 84%;
  
}

.todo .todo_list .edit_item button {
  border: none;
  background-color: white;
  font-size: 22px;
  cursor: pointer;
  
}
.todo .todo_list .edit_item button:hover {
  opacity: 0.7;
}

.todo .todo_list .todo_item .item_content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.todo .todo_list .todo_item .item_content input {
  transform: scale(1.8);
  cursor: pointer;
  accent-color: rgb(197, 221, 135);
}
.todo .todo_list .todo_item .item_content .item_text.active {
  text-decoration: line-through;
  opacity: 0.3;
}

.todo .todo_list .todo_item .item_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.todo .todo_list .todo_item .item_btn  button {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: white;
}

.todo .todo_list .todo_item .item_btn button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 580px) {
  .todo .filter .total_btn {
    display: none;
  }
  .todo .todo_list .todo_item .item_btn  {
    gap: 5px;
  }
  .todo .input_todo {
    gap: 5px;
  }
  .todo .input_todo button {
    font-size: 14px;
    width: 60px;
  }
  .todo .input_todo button.pc_btn {
    display: none;
  }

  .todo .input_todo button.mobile_btn {
    display: block;
  }
  .todo .filter .filter_btn {
    gap: 15px;
  }
  .todo .todo_list {
    padding: 20px;
  }
  .todo .todo_list .edit_item input{
    font-size: 16px;
  }
  .todo .todo_list .edit_item button{
    font-size: 17px;
  }
  .todo .todo_list .todo_item{
    font-size: 16px;
  }
  .todo .todo_list .todo_item .item_content input{
    transform: scale(1.3);
  }
  .todo .todo_list .todo_item .item_btn  button{
    font-size: 17px;
  }
  .todo .todo_list .empty_item{
    font-size: 17px;
  }
  .todo .todo_list .edit_item input{
    width: 60%;
  }
}
